<h1 style="color:blueviolet;">Introduzione</h1>
<p style="
color:chocolate;
"p> 
Questa è l'introduzione della mia tesi che parla di Pedagogia generale.Durante la seconda metà del Novecento si è compiuta quella radicale trasformazione della pedagogia di cui già abbiamo accennato: dalla pedagogia si è passati alla scienza dell’educazione. Si è dunque avuta una rivoluzione nel sapere educativo, ponendosi come “punto di non ritorno”: dal primato delle filosofia si è passati al primato delle scienze. Lo si può definire, questo, un nuovo quadro di riferimento che ha ridelineato il ruolo della pedagogia in campo educativo.

