<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Tesi di Laurea in Scienze Pedagogiche</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#Capitolo 1.html">Capitolo 1</a></li>
      <li><a href="#Test.html">Test</a></li>
      <li><a href="#Capitolo 1.html">Capitolo 2</a></li>
      <li><a href="#Capitolo 2.html">Capitolo 3</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tesi di Laurea <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Introduzione</a></li>
          <li><a href="#">Capitoli</a></li>
          <li><a href="#">Appendici</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Tabelle e grafici</li>
          <li><a href="#">Bibliografia</a></li>
          <li><a href="#">Ringraziamenti</a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
